@page "/"
@rendermode InteractiveServer
<html>

    <head>
        <style>
            #collection
            {
                height: 50px;
                width: 100%;
                background-color: #FFFACD;
                color: black;
                display: flex;
                justify-content: center;
                text-align: center;
                border-bottom: dashed;
            }
            
            #sidebar
            {
                height: 100vh;
                width: 15%;
                position: 15px ;
                display: block-inline;
                background-color: #FFEBCD;
                justify-content: left;

            }

            #boxone
            {
                height: 15%;
                width: 15%;
                position: absolute;
                top: 8.5%;
                left: 15%;
                background-color:#FAF0E6;
            }
            #boxtwo
            {
                height: 15%;
                width: 15%;
                position: absolute;
                top: 8.5%;
                left: 35%;
                background-color:#FAF0E6;
            }
            #boxthree
            {
                height: 15%;
                width: 15%;
                position: absolute;
                top: 8.5%;
                left: 55%;
                background-color:#FAF0E6;
            }
        </style>
    </head>


    <body>
        <div id="collection">
            <h1>example top bar</h1>
        </div>

        <div id="sidebar">
            <h2>Side bar</h2>
        </div>

        <div id="boxone"></div>
        <div id="boxtwo"></div>
        <div id="boxthree"></div>
        <nav></nav>
    </body>
</html>

@code
{
    public string rand = "1";
    public void onClick()
    {

        this.rand = string.Empty;

    }
}
